* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
text-align: center;
justify-items: center;
}

.containerMain {
    width: 500px;
    padding: 30px;
    margin-top: 150px;
    margin-left: 30%;
    font-size: 45px;
    text-shadow: 2px 2px 4px salmon;
    border: 20px solid red;
    border-radius: 40px;
}

#container {
    color: rgb(17, 16, 16);
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0px 10px 10px #026902;
    border: 3px solid black;
    padding: 20px;

}

.clock {
    padding-top: 30px;
    font-size: 60px;

}